.page-title {
	text-align: center;
	font-size: 32px;
}

.search-bar {
	margin: 20px;
	text-align: center;
}

.search-bar input {
	width: 50%;
}

.delete {
	color: red;
	cursor: pointer;
}

.movie-form {
	margin: 20px;
	text-align: center;
}

.form-input {
	margin: 3px;
}

.item-heading {
	padding: 10px 10px 10px 30px;
	font-weight: 700;
}

.item-detail {
	padding: 10px;
}

.list-group-item:hover {
	background-color: #eee;
}